<!--CONTAINER START-->

      <!--KF MAGZINE ROW START-->
      <div class="kf_magazine_row">
        <div class="kf_top_story">
          <div class="section_heading">
            <h2>Últimas notícias</h2>
            <span></span>
          </div>
        </div>
        <div class="row" *ngIf="ultimasNoticias.length">
          <div class="col-md-8">
            <div class="kf_blog_medium">
              <figure class="overlay">
                <img src="data:image/jpeg;base64, {{ultimaNoticia.imagem.data}}" alt="">
                <a class="bf_busines theam_btn_medium" href="#">{{ultimaNoticia.tipo}}</a>
                <ul class="bit_meta meta_2 meta_3">
                  <li><a href="#"><i class="fa fa-user"></i>{{ultimaNoticia.nomeUsuario}}</a></li>
                  <li><a href="#"><i class="fa fa-calendar-check-o"></i>{{ultimaNoticia.dataPublicacao}}</a></li>
                  <li><a href="#"><i class="fa fa-comments"></i>{{ultimaNoticia.qtdComentarios}} comentários</a></li>
                </ul>
              </figure>
              <div class="kf_blog_text">
                <h4>{{ultimaNoticia.titulo}}</h4>
                <p>{{ultimaNoticia.subTitulo}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="kf_blog_list">
              <ul>
                <li *ngFor="let item of ultimasNoticias">
                  <div class="kf_blog_modren">
                    <figure class="overlay">
                      <img style=" width: 100px; height: auto;" src="data:image/jpeg;base64, {{item.imagem.data}}" alt="">
                    </figure>
                    <div class="kf_blog_modren_text">
                      <h6><a href="#">{{item.titulo}}</a></h6>
                      <ul class="bit_meta meta_2 meta_4">
                        <li><a href="#"><i class="fa fa-calendar-check-o"></i>{{item.dataPublicacao}}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i>{{item.qtdComentarios}} Comentários</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>

      <!--KF MAGZINE ROW END-->
