<app-manchete></app-manchete>
<app-pequeno-blog></app-pequeno-blog>
<!--KF MAGZINE ADD START-->
<div class="kf_magazine_add">
  <div class="container">
    <div class="kf_banner_add add_2 overlay">
      <div class="kf_add_text">
        <h5>Best Business ,<br>News Magazine</h5>
      </div>
      <div class="kf_add_content">
        <h3>Banner Ad</h3>
        <span>760 x 90</span>
      </div>
    </div>
  </div>
</div>
<!--KF MAGZINE ADD END-->
<div class="kf_magazine_list">
  <div class="container">
    <div class="col-md-9 responsive_padding">
      <app-ultimas-noticias></app-ultimas-noticias>
      <div class="kf_banner_add add_2 overlay">
        <div class="kf_add_text">
          <h5>Best Business ,<br>News Magazine</h5>
        </div>
        <div class="kf_add_content">
          <h3>Banner Ad</h3>
          <span>760 x 90</span>
        </div>
      </div>
      </div>
      <div class="col-md-3 responsive_padding">
        <div class="side_bar_wrap">
          <app-redes-sociais></app-redes-sociais>
          <div class="kf_add_logo">
            <a href="#"><img src="images/add-logo.png" alt=""></a>
            <h5>Wordpress Business Blog Newspaper Theme</h5>
            <a class="arrow_down" href="#"><img src="images/arrow.png" alt=""></a>
            <div class="full_width">
              <a class="theam_btn_medium" href="#">Get It Now!</a>
            </div>
          </div>
          <app-recente-popular></app-recente-popular>
        </div>
   </div>
 </div>
</div>
