<div class="kf_bit_coin" *ngIf="ultimasManchetes.length">
  <div class="container">
    <div class="kf_bit_coin_row">
      <div class="kf-bit-row-slide">
        <div>
          <div class="kf_bit_fig" >
            <figure class="overlay">
              <img src="data:image/jpeg;base64, {{ultimasManchetes[0].imagem.data}}" alt="" >
              <figcaption class="bit_caption">
                <a class="theam_btn margin-bottom" href="#">{{ultimasManchetes[0].tipo}}</a>
                <h4><a href="#">{{ultimasManchetes[0].titulo}}</a></h4>
                <ul class="bit_meta">
                  <li>{{ultimasManchetes[0].dataPublicacao}}</li>
                  <li><a href="#"><i class="fa fa-eye"></i>{{ultimasManchetes[0].qtdView}}</a></li>
                  <li><a href="#"><i class="fa fa-comment-o"></i>{{ultimasManchetes[0].qtdComentarios}}</a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="kf_bit_side" >
            <div class="kf_bit_fig">
              <figure class="overlay">
                <img src="data:image/jpeg;base64, {{ultimasManchetes[1].imagem.data}}" alt="" style="max-height: 196px">
                <figcaption class="bit_caption">
                  <a class="theam_btn margin-bottom" href="#">{{ultimasManchetes[1].tipo}}</a>
                  <h4><a href="#">{{ultimasManchetes[1].titulo}}</a></h4>
                  <ul class="bit_meta">
                    <li>{{ultimasManchetes[1].dataPublicacao}}</li>
                    <li><a href="#"><i class="fa fa-eye"></i>{{ultimasManchetes[1].qtdView}}</a></li>
                    <li><a href="#"><i class="fa fa-comment-o"></i>{{ultimasManchetes[1].qtdComentarios}}</a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
            <div class="kf_bit_fig" >
              <figure class="overlay">
                <img src="data:image/jpeg;base64, {{ultimasManchetes[2].imagem.data}}" alt="" style="max-height: 196px">
                <figcaption class="bit_caption">
                  <a class="theam_btn margin-bottom" href="#">{{ultimasManchetes[2].tipo}}</a>
                  <h4><a href="#">{{ultimasManchetes[2].titulo}}</a></h4>
                  <ul class="bit_meta">
                    <li>{{ultimasManchetes[2].dataPublicacao}}</li>
                    <li><a href="#"><i class="fa fa-eye"></i>{{ultimasManchetes[2].qtdView}}</a></li>
                    <li><a href="#"><i class="fa fa-comment-o"></i>{{ultimasManchetes[2].qtdComentarios}}</a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <!--<div>
          <div class="kf_bit_fig">
            <figure class="overlay">
              <img src="data:image/jpeg;base64, {{ultimasManchetes[3].imagem.data}}" alt="">
              <figcaption class="bit_caption">
                <a class="theam_btn margin-bottom" href="#">{{ultimasManchetes[3].tipo}}</a>
                <h2><a href="#">{{ultimasManchetes[3].titulo}}</a></h2>
                <ul class="bit_meta">
                  <li>{{ultimasManchetes[3].dataPublicacao}}</li>
                  <li><a href="#"><i class="fa fa-eye"></i>{{ultimasManchetes[3].qtdView}}</a></li>
                  <li><a href="#"><i class="fa fa-comment-o"></i>{{ultimasManchetes[3].qtdComentarios}}</a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="kf_bit_side">
            <div class="kf_bit_fig">
              <figure class="overlay">
                <img src="data:image/jpeg;base64, {{ultimasManchetes[4].imagem.data}}" alt="" style="max-height: 196px">
                <figcaption class="bit_caption">
                  <a class="theam_btn margin-bottom" href="#">{{ultimasManchetes[4].tipo}}</a>
                  <h2><a href="#">{{ultimasManchetes[4].titulo}}</a></h2>
                  <ul class="bit_meta">
                    <li>{{ultimasManchetes[4].dataPublicacao}}</li>
                    <li><a href="#"><i class="fa fa-eye"></i>{{ultimasManchetes[4].qtdView}}</a></li>
                    <li><a href="#"><i class="fa fa-comment-o"></i>{{ultimasManchetes[4].qtdComentarios}}</a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
            <div class="kf_bit_fig">
              <figure class="overlay">
                <img src="data:image/jpeg;base64, {{ultimasManchetes[5].imagem.data}}" alt="" style="max-height: 196px">
                <figcaption class="bit_caption">
                  <a class="theam_btn margin-bottom" href="#">{{ultimasManchetes[5].tipo}}</a>
                  <h2><a href="#">{{ultimasManchetes[5].titulo}}</a></h2>
                  <ul class="bit_meta">
                    <li>{{ultimasManchetes[5].dataPublicacao}}</li>
                    <li><a href="#"><i class="fa fa-eye"></i>{{ultimasManchetes[5].qtdView}}</a></li>
                    <li><a href="#"><i class="fa fa-comment-o"></i>{{ultimasManchetes[5].qtdComentarios}}</a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>-->
      </div>
      <!--<div class="kf_arrow">
        <a href="#">10 OF 3</a>
      </div>-->
    </div>
  </div>
</div>
