<div style="margin-left:15%">
  <router-outlet></router-outlet>
</div>

<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo" style="background-color: #993399 !important">
      <!--<a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../assets/img/mike.jpg">
        </div>
      </a>-->
      <a href="#" class="simple-text logo-normal" style="color: white">
        PlayNews
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li routerLinkActive="active">
          <a routerLink="/home">
            <i class="fa-solid fa-dice-one"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/noticias">
            <i class="fa-solid fa-dice-two"></i>
            <p>Noticias</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/reviews">
            <i class="fa-solid fa-dice-three"></i>
            <p>Reviews</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/detonados">
            <i class="fa-solid fa-dice-four"></i>
            <p>Detonados</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/jogos">
            <i class="fa-solid fa-dice-five"></i>
            <p>Jogos</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/perfil-usuario">
            <i class="fa-solid fa-dice-six"></i>
            <p>Perfil usuário</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<script src="../../assets/js/core/jquery.min.js"></script>
<script src="../../assets/js/core/popper.min.js"></script>
<script src="../../assets/js/core/bootstrap.min.js"></script>
<script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="../../assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="../../assets/demo/demo.js"></script>
