
  <!--SIDE BAR WRAP START-->
    <!--KF SOCIAL LIST START-->
    <div class="kf_social_list">
      <ul>
        <li>
          <div class="kf_social_detail">
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <div class="kf_social_text">
              <h6>2,226</h6>
              <span><a href="#">Followers</a></span>
            </div>
          </div>
        </li>
        <li>
          <div class="kf_social_detail">
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <div class="kf_social_text">
              <h6>4,850</h6>
              <span><a href="#">Likes</a></span>
            </div>
          </div>
        </li>
        <li>
          <div class="kf_social_detail">
            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
            <div class="kf_social_text">
              <h6>2,354</h6>
              <span><a href="#">Followers</a></span>
            </div>
          </div>
        </li>
        <li>
          <div class="kf_social_detail">
            <a class="rss" href="#"><i class="fa fa-rss"></i></a>
            <div class="kf_social_text">
              <h6>5,980</h6>
              <span><a href="#">Followers</a></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--KF SOCIAL LIST END-->
